.contactDiv {
    margin-bottom: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.info {
    font-size: 1.1rem;
}

.message {
    height: 10rem;
}

.errorMsg {
    color: red;
    font-size: 0.8rem;
}