<div class="container contactDiv">
    <p class="mb-2 openSansRegular">
        This form is intended to be used for <b>License Pre-sale Questions, Purchase Theme License, Theme Support,
        Partnership Offer, and Bug Report.</b> If you have different questions to ask, Don’t feel shy to ping us. We love to
        hear from you.
    </p>
    <hr class="mt-5">

    <form class="mt-5 contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleInputLastname" class="form-label openSansRegular">First name  (required)</label>
            <input type="text" class="form-control" autocomplete="off" id="exampleInputLastname" formControlName="firstName">
            <div *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched" class="form-text errorMsg">
                First Name is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputFirstname" class="form-label openSansRegular">Last name  (required)</label>
            <input type="text" class="form-control" autocomplete="off" id="exampleInputFirstname" formControlName="lastName">
            <div *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched" class="form-text errorMsg">
                Last Name is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label openSansRegular">Email address (required)</label>
            <input type="email" class="form-control" autocomplete="off" id="exampleInputEmail1" formControlName="email"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text openSansRegular">We'll never share your email with anyone else.</div>
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="form-text errorMsg">
                email is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputSubject" class="form-label openSansRegular">Subject</label>
            <input type="text" class="form-control" autocomplete="off" id="exampleInputSubject" formControlName="subject">
        </div>
        <div class="mb-3">
            <label for="exampleInputMessage" class="form-label openSansRegular">Your message</label>
            <textarea type="text" class="form-control message" autocomplete="off" id="exampleInputMessage" formControlName="message"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary openSansRegular">Submit</button>
    </form>
</div>