<div class="container">
    <form class="mt-5 appointmentForm" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
        <mat-tab-group #appointmentTab animationDuration="0ms" class="mt-5 appointmentTabGroup">
            <mat-tab label="First" [hidden]="true">
                <div class="row dateRow w-100">
                    <div class="col-4">
                        <span class="d-flex w-100 openSansSemiBold ms-4">
                            Select a Date and Time
                        </span>
                        <hr />
                        <mat-calendar class="datePicker" [selected]="selectedDate"
                            (selectedChange)="onDateSelect($event)"></mat-calendar>
                    </div>
                    <div class="col-4 slotDiv">
                        <span class="d-flex w-100 openSansSemiBold ms-4">
                            Avaiable Time Slots for, {{ selectedDate | date: 'fullDate' }}
                        </span>
                        <hr />
                        <div class="row mt-5">
                            <div class="col-6" *ngFor="let slot of timeSlots">
                                <button class="btn btn-outline-warning rounded-0 border border-dark text-dark slotbtn"
                                    id="searchBtn" type="button" (click)="selectSlot(slot)">{{ slot }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 serviceDetailsCol">
                        <span class="d-flex w-100 openSansSemiBold ms-4">
                            Service details
                        </span>
                        <hr />
                        <span class="mt-2 ms-4">{{ selectesService.name }}</span>
                        <span class="mt-2 ms-4">{{ selectedDate | date: 'fullDate' }}</span>
                        <span class="mt-2 ms-4">{{ selectesService.contactDetails }}</span>
                        <span class="mt-2 ms-4">{{ selectesService.time }}</span>
                        <span class="mt-2 ms-4">{{ selectesService.price }}</span>

                        <button class="btn btn-outline-dark rounded-0 border border-dark ms-4 nextBtn"
                            id="searchBtn" type="button" (click)="nextTab(appointmentTab, 'next')">Next</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Second">
                <div class="row w-100 userDetailsRow">
                    <div class="col-6">
                        <span class="d-flex w-100 openSansSemiBold fs-4 ms-4">
                            Client Details
                        </span>
                        <hr />
                    <div class="row mt-5">
                            <div class="mb-3 col-6">
                                <label for="exampleInputLastname" class="form-label openSansRegular">First name
                                    (required)</label>
                                <input type="text" class="form-control" autocomplete="off" id="exampleInputLastname"
                                    formControlName="firstName">
                                <div *ngIf="appointmentForm.get('firstName')?.invalid && appointmentForm.get('firstName')?.touched"
                                    class="form-text errorMsg">
                                    First Name is required.
                                </div>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleInputFirstname" class="form-label openSansRegular">Last name
                                    (required)</label>
                                <input type="text" class="form-control" autocomplete="off" id="exampleInputLastname"
                                    formControlName="lastName">
                                <div *ngIf="appointmentForm.get('lastName')?.invalid && appointmentForm.get('lastName')?.touched"
                                    class="form-text errorMsg">
                                    Last Name is required.
                                </div>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleInputEmail1" class="form-label openSansRegular">Email address
                                    (required)</label>
                                <input type="email" class="form-control" autocomplete="off" id="exampleInputEmail1"
                                    formControlName="email" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text openSansRegular">We'll never share your email with anyone
                                    else.</div>
                                <div *ngIf="appointmentForm.get('email')?.invalid && appointmentForm.get('email')?.touched"
                                    class="form-text errorMsg">
                                    email is required.
                                </div>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleInputSubject" class="form-label openSansRegular">Phone</label>
                                <input type="text" class="form-control" autocomplete="off" id="exampleInputPhone"
                                    formControlName="phone">
                                <div *ngIf="appointmentForm.get('phone')?.invalid && appointmentForm.get('phone')?.touched"
                                    class="form-text errorMsg">
                                    phone no. is invalid.
                                </div>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleInputMessage" class="form-label openSansRegular">Your message</label>
                                <textarea type="text" class="form-control message" autocomplete="off" id="exampleInputMessage"
                                    formControlName="message"></textarea>
                            </div>
                        </div>
    
                    </div>
                    <div class="col-6 serviceDetailsCol">
                        <span class="d-flex w-100 openSansSemiBold fs-4 ms-4">
                            Booking Details
                        </span>
                        <hr/>
                        <span class="mt-2 ms-4">{{ selectesService.name }}</span>
                        <span class="mt-2 ms-4">{{ selectedDate | date: 'fullDate' }}</span>
                        <span class="mt-2 ms-4">{{ selectesService.contactDetails }}</span>
                        <span class="mt-2 ms-4">{{ selectesService.time }}</span>
                        <hr/>
                        <span class="mt-2 ms-4">Payment Details</span>
                        <span class="mt-2 ms-4">{{ selectesService.price }}</span>
                        <hr/>
                        <span class="mt-2 ms-4">By completing your booking, you agree to receive related notifications.</span>
                        <div>
                            <button class="btn btn-outline-dark rounded-0 border border-dark ms-4 nextBtn"
                            id="searchBtn" type="button" (click)="nextTab(appointmentTab, 'prev')">Back</button>
                            <button class="btn btn-outline-dark rounded-0 border border-dark ms-4 nextBtn"
                            id="searchBtn" type="submit" (click)="selectSlot(selectesService)">Book now</button>
                        </div>

                    </div>
                </div>

            </mat-tab>
        </mat-tab-group>
    </form>
</div>