.activeClass {
    background: #56585c;
    border-radius: 3px;
    color: white;
    margin: 0px 0.2rem;
}

.activeClass:hover {
    background: #56585c;
    color: white;
    margin: 0px 0.2rem;
}

.navbarClass a {
    margin: 0px 0.2rem;
    border-radius: 3px;
}

.navbarClass a:hover {
    background: #56585c;
    color: white;
    margin: 0px 0.2rem;
}