<div class="page-container aboutPageCss">
    <!-- [ngClass]="{ aboutPageCss: currentRoute == '/about' || currentRoute == '/services' }" -->
    <header *ngIf="isLoggedIn()" #navbar class="nav navbarClass fixed-top bg-dark">
        <a #home class="nav-link" aria-current="page" routerLink="home" [routerLinkActive]="['activeClass']"
            (click)="navigatePage($event, 'home')">Home</a>
        <a #services class="nav-link" routerLink="services" [routerLinkActive]="['activeClass']"
            (click)="navigatePage($event, 'services')">Services</a>
        <a #plans class="nav-link" routerLink="plans" [routerLinkActive]="['activeClass']"
            (click)="navigatePage($event, 'plans')">Plans</a>
        <a #contact class="nav-link" routerLink="contact" [routerLinkActive]="['activeClass']"
            (click)="navigatePage($event, 'contact')">Contact</a>
        <a #about class="nav-link" routerLink="about" [routerLinkActive]="['activeClass']"
            (click)="navigatePage($event, 'about')">About</a>
        <a #about class="nav-link" [routerLinkActive]="['activeClass']"
            (click)="openAccountPopup()"><img class="img-responsive aboutImg" src="assets/img/account_circle.svg"></a>
        <a #about *ngIf="!isLoggedIn()" class="nav-link" routerLink="login" [routerLinkActive]="['activeClass']"
            (click)="navigatePage($event, 'login')">Log In</a>
    </header>
    <main class="main-content">
        <router-outlet />
    </main>

    <footer #navbar class="bd-footer footer nav navbarClass bg-dark">
        <p>&copy; 2025 Your Company. All rights reserved.</p>
    </footer>
</div>