/* You can add global styles to this file, and also import other style files */
.navbarClass {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;    
  justify-content: flex-end;
}

.navbarClass .nav-link {
  color: white;
  text-decoration: none;
}

.paginationClass {
  display: flex;    
  justify-content: flex-end; 
}