.pagination.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}

.tableDiv {
    height: 30rem;
}

.paginationClass li a {
    outline: none;
    box-shadow: none;
    color: #494a4d;
}

.paginationClass .active {
    outline: none;
    box-shadow: none;
    color: white !important;
    background: #56585c !important;
    border: #56585c;
    margin-top: 1px;
}

.paginationClass li a:hover {
    background: #56585c;
    color: white;
}