<div class="container">
    <div class="row w-100 planRow">
        <div class="col-4 planCol"><span class="mt-5 openSansSemiBold weeklyPlan">The Weekly Plan</span><span class="openSansBold fs-4">$490</span><span class="mb-5">Every month</span>
            <button class="btn btn-outline-warning border border-dark text-dark rounded-0 mb-3" id="searchBtn" type="button"
                (click)="selectPlan('')">Select</button>
        </div>
        <div class="col-4 planCol"><span class="mt-5 openSansSemiBold weeklyPlan">The Bi-Monthly Plan</span><span class="openSansBold fs-4">$290</span><span class="mb-5">Every month</span><button
                class="btn btn-outline-warning border border-dark text-dark rounded-0 mb-3" id="searchBtn" type="button"
                (click)="selectPlan('')">Select</button></div>
        <div class="col-4 planCol"><span class="mt-5 openSansSemiBold weeklyPlan">The Office Plan</span><span class="openSansBold fs-4">$950</span><span class="mb-5">Every month</span><button
                class="btn btn-outline-warning border border-dark text-dark rounded-0 mb-3" id="searchBtn" type="button"
                (click)="selectPlan('')">Select</button></div>
    </div>
</div>