<div class="container">
    <div class="row bookserviceRow justify-content-center">
        <div class="col-8 bookserviceCol">
            <div class="d-flex">
                <img src="assets/img/{{ selectesService.image }}" alt="{{ selectesService.name }}"
                    class="img-fluid serviceImg" />
                <div class="bookserviceText">
                    <h1>{{ selectesService.name }}</h1>
                    <p class="fs-5 mt-3">{{ selectesService.description }}</p>
                    <span class="fs-5">{{ selectesService.time }} &nbsp;&nbsp; {{ selectesService.price }}</span>
                    <button class="btn btn-outline-warning rounded-0 border border-dark text-dark bookbtn mt-4"
                        id="searchBtn" type="button" (click)="checkService()">
                        Book a Service
                    </button>
                </div>
            </div>
            <hr class="mt-5" />
            <span class="fs-4">Service Description</span><br><br>
            <p class="fs-5">{{ selectesService.servicedescription }}</p>
            <hr class="mt-5" />
            <span class="fs-4">Contact Details</span><br><br>
            <p class="fs-5">{{ selectesService.contactDetails }}</p>
            <hr class="mt-5" />
        </div>
    </div>
</div>